@use "@scss/settings.scss" as *;

.flat-info {
    display: flex;
    gap: 1rem;
    
.flat-details{
        flex-grow: 1;
    }

    .flat-h1{
        color:$color-primary;
        font-weight: 500;
        font-size:  36px;
        font-family:$font-family-primary;
    }
    
    .flat-h2 {
        color:$color-tertiary;
        font-weight: 500;
        font-size: 18px;
        font-family: $font-family-primary;
    }
    .flat-labels {
        display: flex;
        gap:1rem;
        span {
            background-color: $color-primary;
            color: $color-white;
            font-weight: 700;
            font-size: 14px;
            font-family: $font-family-primary;
            border-radius: 10px;
            width: 115px;
            height: 25px;
            text-align: center;
            line-height: 25px;
        }
    }

.host-details {
        display: flex;
        gap: 1rem;
        }
        
h3{
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 500;
    font-size: 18px;
    color: $color-primary;
}


.host-sticker {
    width:64px;
    height: 64px;
    background-color: rgba( 196,196,196,1);
    border-radius: 50%;
    margin-top: 0.6rem;
}


.rating {
    display: flex;
    gap: 0.5rem;

    span {
      cursor: pointer;
      transition: transform 0.2s ease;
  
      &:hover {
        transform: scale(1.2);
      }
    }
  }

}

@media only screen and (max-width:480px) {
    .flat-info{
        flex-direction: column;
    }

    .host-info{
        display: flex;
        justify-content: space-between;
    }

  .host-details h3{
    font-size: 12px;
    font-weight: 500;
    font-family: $font-family-primary;
  }
  
  .host-details {
    order:1
  }

  .flat-info .host-sticker{
    width: 32px;
    height: 32px;
  }
  .rating{
    transform: translateY(15px);
  }
}