@use "@scss/settings.scss" as *;

.flat {
    background-image: linear-gradient(to top, $color-primary,$color-secondary);
    border-radius: 10px;
    min-width :340px;
    min-height: 340px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 10px;
    flex-basis: 30%;
    margin-top: 20px;
& a {
    text-decoration: none;
    color: $color-white; 
}

.title {
   margin-left: 1rem;
   color: $color-white;
    }


@media only screen and (max-width:480px) {
    & .flat {
    min-width :335px;
    min-height: 255px;
        }
    }
}
    
    