@use "@scss/settings.scss" as *;


.apt-container{
    display: flex;
    gap: 1rem;
    flex-basis: 50%;

    .apt-info {
    flex:1;
    margin-block: 0;

    .apt-legend{
        background-color: $color-primary;
        color: $color-white;
        border-radius: 10px;
        padding: 0.5rem 1rem;
        font-family: $font-family-primary;
        font-weight: $font-weight-secondary;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        line-height: 25.75px;
        cursor: pointer;
        
        span{
            margin-left: 1rem;
        }
    
        i{ 
         width: 28px;
         height: 13.71px;
         color:rgba(255, 255, 255, 1);
        }
    }
    .apt-text{
        background-color: rgba(246, 246, 246, 0.45);
        border-radius: 10px;
        color: $color-primary;
        padding: 1rem;
        position: relative;
        transform: translateY(-1.5rem);
        z-index: -1;
        transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    }
}
}

@media only screen and (max-width:480px)  {
    .apt-container {
        flex-direction: column;
        gap: 0.5rem;

        .apt-info {
            .apt-legend {
                font-size: 16px;
                padding: 0.4rem 0.8rem;
            }

            .apt-text {
                padding: 0.8rem;
                transform: none;
            }
        }
    }
}