.main {
    padding-inline: 3rem;
    width: 1240px;
    min-height: 70vh;
}

@media only screen and (max-width: 480px) {
    .main {
        padding-inline: 1rem;
        width: 100%;
        min-height: 60vh;
    }
}
    
