@use "@scss/settings.scss" as *;

.main {
    padding-inline: 3rem;
    width: auto;
    min-height: 70vh;
}

@media only screen and (max-width:480px) {
    .main {
    padding-inline: 1rem;
    width: auto;
    min-height: 60vh;
    }
}