@use "@scss/settings.scss" as *;

.not-found-page {
color: $color-primary;
text-align: center;

h1 {
    font-family: $font-family-primary;
    font-size: 288px;
    font-weight: $font-weight-secondary;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
h2 {
    font-size: 36px;
    font-weight: $font-weight-primary;
}
a {
    font-family: $font-family-primary;
    font-size: 18px;
    font-weight: $font-weight-primary;
    line-height: 25.67px;
    text-align: left;
    text-decoration-line: underline;
    color: $color-tertiary;
}
}

@media only screen and (max-width:480px) {
    .not-found-page h1 {
      font-size: 96px;  
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .not-found-page h2 {
      font-size: 18px;
      margin-top: 50px ;
      margin-bottom: 50px;   
    }

   .not-found-page a {
      font-size: 14px;
    }
}
