$color-primary: #ff6060;
$color-secondary:#863535;
$color-tertiary: black;
$grid-background-color: rgba(246, 246, 246,1);
$color-white: white;
$border-radius-primary: 25px;
$font-family-primary: 'Montserrat', sans-serif;
$mobile-breakpoint: 480px;